#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "olivetin"
name = "OliveTin"
description.en = "Gives safe and simple access to predefined shell commands from a web interface"
description.fr = "Fournit un accès simple et sécurisé par une interface web à des commandes shell prédéfinies"

version = "3000.8.0~ynh1"

maintainers = ["Salamandar"]

[upstream]
license = "AGPL-3.0"
website = "https://www.olivetin.app"
admindoc = "https://docs.olivetin.app"
code = "https://github.com/OliveTin/OliveTin"

[integration]
yunohost = ">= 11.2.29"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = true
ldap = "not_relevant"
sso = "not_relevant"
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "admins"

[resources]
    [resources.sources.main]
    amd64.url = "https://github.com/OliveTin/OliveTin/releases/download/3000.8.0/OliveTin-linux-amd64.tar.gz"
    amd64.sha256 = "67423bdabb79a6063a4e361507fd6ce5dd685b5d439cedd9671b72d7d7fbc522"

    arm64.url = "https://github.com/OliveTin/OliveTin/releases/download/3000.8.0/OliveTin-linux-arm64.tar.gz"
    arm64.sha256 = "11bac3b682daf0d9d370255b9e282db80206c3c62f50d6887739eee24f302a4d"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = ".*-linux-amd64.tar.gz"
    autoupdate.asset.arm64 = ".*-linux-arm64.tar.gz"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.exposed = false
    rest.exposed = false
    grpc.exposed = false
    webui.exposed = false
